@{
    ViewBag.Title = "About";
}

@Html.Partial("_SearchBar")
<h2>@ViewBag.Title.</h2>

@*<h3>Description will be added in future Sprints</h3>*@

<p>
    In a world with increased traffic and pollution because of increased vehicles, 
    we plan and propose to share the resources efficiently by sharing the ride among people and saving fuel and money in the process.
    <br/>In this project we have developed an application which will help its users to find out people who are travelling on the same route (source and destination) and same day (or flexible - up to the user), 
    and collaborate with them in order to share a car.
</p>
