@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <h3>Developers:</h3>
    <strong>Tejaswi Konduri: </strong>   <a href="mailto:tkonduri@uncc.edu">tkonduri@uncc.edu</a><br />
    <strong>Yateen Kedare: </strong>   <a href="mailto:ykedare@uncc.edu">ykedare@uncc.edu</a><br />
    <strong>Koushik Kashojjula: </strong>   <a href="mailto:kkashojj@uncc.edu">kkashojj@uncc.edu</a><br />
    <strong>Bhanu Sri Karumanchi: </strong>   <a href="mailto:bkaruman@uncc.edu">bkaruman@uncc.edu</a>
</address>