@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_SearchBar")
<h1>Steps to run the application:</h1>
<p>
<br>    - Search the trip of your choice by selecting the Source, Destination and Date and by clicking on the "Search Trip" button.
<br><br>- You will see a list of trips with the same Source/Destination/Date of your choice as you entered, <br>
           and you will be able to look into the trip information by clicking the "Goto Trip" button.
<br><br>- You can contact the Admin by clicking the "Contact Admin" button on the Trip Details page. <br>
           This is a means of collaborating with the admin.
<br><br>- You may join the trip if it suits your plans by clicking the "Join" button.
<br><br>- You may add a new trip by clicking on the "Add Trip" button. <br>
           All the trip members who have the same Source/Destination/Date will get an email notification, saying a new trip has been added by you.<br>
           So that they can collaborate with you if needed. 
<br><br>- If you have created a Trip, you will get an option to delete your trip.
<br><br><b>Note:</b> You are already a part of your Trip Group.
</p>